
<app-layout></app-layout>









<app-list></app-list>
<app-carrito></app-carrito>



<app-dialog>
  <section slot="body">
    <p>
      <label for="favAnimal">Favorite animal:</label>
      <select id="favAnimal">
        <option></option>
        <option>Brine shrimp</option>
        <option>Red panda</option>
        <option>Spider monkey</option>
      </select>
    </p>
  </section>
  <menu slot="menu">
    <button id="cancel" (click)="closeDialog()" type="reset">Cancel</button>
    <button type="submit" (click)="closeDialog()" >Confirm</button>
  </menu>
</app-dialog>

<button (click)="openDialog()">Show Dialog</button>

<slot></slot>
<app-timer></app-timer>
<app-grid></app-grid>
<app-grid></app-grid>
<app-grid></app-grid>
<app-grid></app-grid>

<!--interpolar-->
<span>{{ name }}</span>

<!--instruccion if-->
@if(user; as usuario){
  <div>{{usuario}}</div>
}
@else{
  <button>Login</button>
}

<!--for-->
@for (item of data; track item) {
  {{ item }}
}

<!--Eventos-->
<button (click)="handlerClick()">Change Data</button>

@defer (on viewport;) {
  <app-postlist/>
} @placeholder {
  <div>Loading...</div>
}


